.template {
  width: 26vw;
  height: 100vh;
  background-color: #1b1826;
  position: absolute;
  right: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 12%;

  div:nth-child(3){
    display: flex;
    justify-content: center;
  }
}