.template {
  height: 100%;
  width: 70.4vw;
  background-color: #1a1925;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  padding: 2.5rem 0 1.5rem 3.1rem;
}

.title {
  color: white;
  font-size: 3.2rem;
}

.description {
  color: rgb(151, 151, 176);
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
}

.dangerZone {
  margin-top: 30px;

  h4 {
    color: rgb(238, 238, 240);
    font-size: 13px;
    text-transform: uppercase;
  }

  p {
    margin: 15px 0 15px 0;
    font-size: 12px;
  }

  button {
    padding: 9px 6px;
    margin-left: -6px;
    font-size: 1.4rem;
  }
}