.templateImage {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  margin-top: 53px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(238, 238, 240, 0.08);
  }
}

.templateInputs {
  display: flex;
  flex-direction: row;
  width: 24.7vw;
  margin-top: 30px;

  input {
    margin: 0;
    padding: 1.2rem;
    font-size: 1.6rem;
    width: 50%;
    text-align: left;
  }

  input:nth-child(1) {
    margin-right: 7px;
  }

  input:nth-child(2) {
    margin-left: 7px;
  }
}

.label {
  color: rgb(151, 151, 176);
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}

.emailSet {
  padding: 10px 0 30px 0;
  display: flex;
  align-items: center;

  p {
    color: rgb(238, 238, 240);
    font-size: 15px;
    font-weight: 600;
  }

  button {
    margin-left: 10px;
    color: #9b70ff;
    padding: 10px 10px;

    :hover {
      background-color: rgb(155, 112, 255);
    }
  }
}
