.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24vw;
  height: 42vh;
  text-align: center;

  h2 {
    color: rgb(238, 238, 240);
    font-size: 3.2rem;
  }

  p {
    color: rgb(151, 151, 176);
    margin: 13px 0 50px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
