.wrapper {
  position: absolute;
  left: 22px;
  bottom: 23px;
  background: #48466b;
  border-left: 3px solid #9199ff;
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    color: #ebebf5 !important;
    font-size: 1.38rem !important;
    font-weight: 600 !important;
  }
}
