.template {
  height: 100vh;
  width: 22.4vw;
  background-color: #1a1925;
  border-right: 1px solid rgba(255, 255, 255, 0.06);

  .header {
    height: 59px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    padding-left: 26px;
  }
}

.content {
  height: calc(100% - 59px);
  width: 100%;
  padding: 0 10px;
}