.template {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0 15px 0;
}

.heading {
  color: white;
  font-size: 1.2rem;
  margin: 15px 0 0 17px;
  font-weight: 600;
}
