.template {
  width: 64.5vw;
  height: 100vh;
  background-color: #1a1925;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6.3% 93.7%;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;

  span {
    color: rgb(151, 151, 176);
    margin-left: 8px;
  }
}

.content {
  padding: 0 12px 0 12px;
}

.inputTemplate {
  width: 100%;
  height: 48px;
  display: grid;
  grid-template-columns: 4.5% 95.5%;

  div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-child(2) {
    input {
      width: 100%;
      height: 100%;
      color: #eeeef0;
      border: none;
      padding: 0 0 0 10px;
      font-size: 15px;
      background: none;
      font-weight: 600;
    }
  }
}

.listElement {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  background-color: #4b4b663b;
  padding-left: 15px;

  div {
    margin: 0;

    &:hover {
      background-color: transparent;
    }
  }

  &:hover {
    background-color: #2f3043;
  }
}
