.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1e202c;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  position: absolute;
  left: 30px;
  top: 23px;
}