.box {
  width: 16.6vw;
  height: 100vh;
  background-color: #1a1a25;
}

.heading {
  color: #9797b0;
  margin: 40px 0 15px 80px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.template {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}