.template {
  width: 64.5vw;
  height: 100vh;
  background-color: #1a1925;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.messagesTemplate {
  height: 90%;
  width: 100%;
  padding: 30px 14.5vw 30px 14.5vw;
  overflow: scroll;
}

.inputTemplate {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}