.template {
  height: 100vh;
  background-color: #1a1925;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.messagesTemplate {
  height: 90%;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  overflow: scroll;
  display: flex;
  justify-content: center;

  .messagesList {
    width: 35.5vw;
  }
}

.textareaTemplate {
  width: 35.5vw;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}