.template {
  width: 65vw;
  height: 100vh;
  background-color: #1a1925;
  display: grid;
}

.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.headerContent {
  width: 57%;
  display: flex;
  align-items: center;
  position: relative;
}

.name {
  color: white;
  font-size: 15px;
  margin-left: 14px;
  font-weight: 600;
}
