.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1A1925;
  display: flex;
  justify-content: center;
  padding-top: 11vh;
}

.logo {
  position: absolute;
  left: 30px;
  top: 15px;
}
