.template {
  border: 1px solid rgba(238, 238, 240, 0.09);
  max-width: 630px;
  background: #1d1d29;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 3.4vh;
  padding: 0 2.9rem 1.7rem 2.9rem;
  max-height: 43.1vh;

  input {
    height: 35px;
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-bottom: 25px;
  }
}

.inputTemplate {
  padding-top: 2.9rem;
}

.list {
  overflow: scroll;
  height: 100%;
  padding: 6px 0 6px 0;

  .info {
    color: rgb(108, 108, 135);
    font-weight: 600;
    font-size: 1.2rem;
  }
}
