.list {
  border: 1px solid rgba(238, 238, 240, 0.09);
  max-width: 630px;
  background: #1d1d29;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3.4vh;
  padding: 2.9rem 2.9rem 1.7rem 2.9rem;

  input {
    height: 35px;
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-bottom: 25px;
  }
}
