.template {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 25px;
}

.heading {
  text-align: left;
  color: rgb(151, 151, 176);
  font-size: 12px;
  font-weight: 600;
}

.notes {
  margin-top: 10px;
  width: 100%;
}
