.box {
  width: 136px;
  height: auto;
  border: 1px solid rgba(80, 80, 97, 0.498);
  background: rgb(33, 33, 46);
  border-radius: 7px;
  position: absolute;
  padding: 4px;
}

.elem {
  height: 30px;
  width: 100%;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    color: rgb(238, 238, 240);
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 5px;
  }

  svg {
    color: rgb(151, 151, 176);
  }

  &:hover {
    background-color: #2f3043;
  }
}
