.header {
  height: 60px;
  width: 35.5vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  color: white;
  font-size: 15px;
  margin-left: 14px;
  font-weight: 600;
}
