.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 14.5vw;
}

.name {
  color: white;
  font-size: 15px;
  margin-left: 14px;
  font-weight: 600;
}
