.wrapper {
  width: auto;
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4rem !important;
  }

  a {
    color: #007fff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 3px;
  }
}