.wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  position: relative;
  align-items: center;

  svg {
    width: 20px;
    fill: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 38px;
  }

  input {
    height: 100%;
    width: 100%;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
  }
}
