.box {
  width: 13vw;
  height: 100vh;
  background-color: rgb(29, 29, 41);
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7px;
}
