.template {
  position: absolute;
  top: 10.5vh;
  left: 0;
  width: 100vw;
  z-index: 99;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.box {
  width: 665px;
  border: 1px solid rgba(80, 80, 97, 0.5);
  background: rgb(33, 33, 46);
  border-radius: 8px;
  pointer-events: auto;
}

.inputTemplate {
  width: 100%;
  height: 63px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 95%;
  padding: 0 20px;

  div:first-child {
    display: flex;
    align-items: center;
  }

  div:nth-child(2) {
    input {
      width: 100%;
      height: 100%;
      background: transparent;
      font-size: 1.7rem;
      font-weight: 600;
      color: rgb(238, 238, 240);
    }
  }
}
