.box {
  width: 93%;
  height: 45px;
  background-color: #4B4B663B;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 2px 0;

  p {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 10px;
  }

  &:hover {
    background-color: #2F3043;
  }
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 8px;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 4px;
    font-size: 18px;
  }

  &:hover {
    background-color: #1A1925;
  }
}