.note {
  width: 87%;
  min-height: 50px;
  height: auto;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  font-weight: 600;
  margin-top: 4px;

  div {
    display: flex;
    justify-content: center;
  }

  div:first-child {
    font-size: 1.4rem;
  }

  div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }

  .author {
    color: white;
    font-size: 1.4rem;
  }

  .content {
    color: #9797b0;
    font-size: 1.2rem;
    margin-top: 3px;
  }
}
