.elementList {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;

  button {
    color: #9797b0;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 1.4rem;
    margin-left: 10px;

    &:hover {
      background-color: #4b4b663b;
    }
  }
}
