.wrapper {
  width: 29vw;
  height: 48.5vh;
  padding: 0 30px 0 30px;

  h4 {
    font-size: 3.2rem;
    font-weight: 500;
    color: white;
    letter-spacing: -1px;
  }

  h6 {
    color: #86869C;
    font-size: 1.3rem;
    margin-top: 7px;
  }
}