.info {
  color: rgb(151, 151, 176);
  font-weight: 600;
  margin-top: 10px;
  margin: 15px 0 15px 0;
  font-size: 11px;
}

.dangerZone {
  margin-top: 40px;

  h4 {
    color: rgb(238, 238, 240);
    font-size: 13px;
    text-transform: uppercase;
  }

  button {
    padding: 9px 6px;
    margin-left: -6px;
    font-size: 1.4rem;
  }
}
