.elementList {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  position: relative;

  button {
    color: #9797b0;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 1.4rem;
    margin-left: 10px;
    position: absolute;
    right: 0;

    &:hover {
      background-color: #4b4b663b;
    }
  }
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 22px;
  }

  &:hover {
    background-color: #1a1925;
  }
}

.name {
  color: rgb(238, 238, 240);
  font-size: 15px;
  font-weight: 600;
  margin-left: 9px;
  pointer-events: none;
}
