.template {
  display: flex;
  flex-direction: column;
  width: 26vw;
  height: 42vh;

  h2 {
    color: rgb(238, 238, 240);
    font-size: 3.2rem;
  }

  p {
    color: rgb(151, 151, 176);
    margin: 13px 0 50px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  button {
    width: 100%;
  }
}

.templateInputs {
  display: flex;
  flex-direction: row;
  margin: 0 0 25px 0;

  input {
    margin: 0;
    padding: 1.2rem;
    font-size: 1.6rem;
    text-align: left;
  }

  input:nth-child(1) {
    margin-right: 7px;
  }

  input:nth-child(2) {
    margin-left: 7px;
  }
}
