.box {
  width: 100%;
  height: 40px;
  background-color: #4b4b663b;
  border-radius: 3px;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 8px 0 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
