.listElement {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;

  p {
    color: white;
    cursor: default;
    font-size: 1.4rem;
    font-weight: 600;
  }

  button {
    color: #9797b0;
    background-color: transparent;
    padding: 5px 8px;
    font-size: 1.4rem;
    margin-left: 10px;

    &:hover {
      background-color: #4b4b663b;
    }
  }
}

.info {
  color: rgb(151, 151, 176);
  font-size: 14px;
  font-weight: 600;
  text-align: left !important;
}
