.list {
  border: 1px solid rgba(238, 238, 240, 0.09);
  max-width: 630px;
  background: #1d1d29;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3.4vh;
  padding: 2.9rem 2.9rem 1.7rem 2.9rem;

  input {
    height: 35px;
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-bottom: 25px;
  }
}

.listElement {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;

  p {
    color: white;
    cursor: default;
    font-size: 1.4rem;
    font-weight: 600;
  }

  button {
    color: #9797b0;
    background-color: transparent;
    padding: 5px 8px;
    font-size: 1.4rem;
    margin-left: 10px;

    &:hover {
      background-color: #4b4b663b;
    }
  }
}

.info {
  color: rgb(151, 151, 176);
  font-size: 14px;
  font-weight: 600;
  text-align: left !important;
}
