.wrapper {
  width: 100%;
  height: 44px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-left: 35px;

  svg {
    width: 25px;
    fill: #fff;
  }

  p {
    color: #EBEBF5;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 35px;
    pointer-events: none;
  }
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}