.wrapper {
  position: absolute;
  left: 22px;
  bottom: 23px;
  background: rgb(42, 42, 59);
  border-left: 3px solid rgb(245, 108, 78);
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    color: rgb(245, 108, 78) !important;
    font-size: 1.38rem !important;
    font-weight: 600 !important;
  }
}
