.wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11vh 0 0 0;
}

.content {
  background: #2c2b3e;
  width: 470px;
  height: 600px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
  display: grid;
}

.recommended {
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
}

.all {
  grid-template-columns: 100%;
  grid-template-rows: 10% 55px;
}

.tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.listItems {
  margin-top: 10px;
  flex-direction: column;
  overflow: scroll;
}

.button {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ebebf5;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.indicator {
  background-color: #5bffae;
  width: 50%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 10s;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.spinner {
  height: 25px;
  width: 25px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-left: 2px solid white;
  animation: spin 1s linear infinite;
  margin-top: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
