.wrapper {
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  padding: 0 1rem 0 3.5rem;
  height: 72px;
  display: flex;
  align-items: center;
  color: #ebebf5;
  cursor: pointer;
  position: relative;

  p {
    font-size: 2.4rem;
    font-weight: 500;
  }

  svg {
    fill: #6333ff;
    position: absolute;
    right: 27px;
    width: 25px;
  }
}

.loaderNumber {
  width: 80%;
  height: 10px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}
