.templateImage {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  margin-top: 53px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(238, 238, 240, 0.08);
  }
}

.templateInput {
  display: flex;
  flex-direction: column;
  width: 24vw;
  margin: 20px 0 30px 0;

  input {
    margin: 0;
    padding: 1.2rem;
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
  }
}

.label {
  color: rgb(151, 151, 176);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}