.button {
  border-radius: 6px;
  border: none;
  background-color: #232ed1;
  width: 315px;
  padding: 20px 2rem;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.2rem;
  transition: background-color 150ms ease 0ms,color 150ms ease 0ms;

  span {
    font-weight: 800;
    margin-left: 3px;
  }

  svg {
    margin-right: 20px;
  }

  :hover {
    background-color: rgba(35, 46, 209, 0.9);
  }
}
